body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100vw;
  padding: 3rem;
}

.form-register{
  display: flex;
  flex-direction: row;
  width: 50vw;
}

.header {
  height: 5rem;
  width: 100%;
  background-color: var(--primary-color);
}

.footer {
  height: 5rem;
  width: 100%;
  background-color: var(--highlight-bg);
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 15rem;
  background: var(--primary-color);
}

.child {
  min-height: calc(100vh - 11.4rem);
}

.move {
  padding-left: 15rem;
}


/*Custom styles Prime*/

.p-password-input{
  width: 100%;
}
